body {
    font-family: 'Montserrat', sans-serif;
    background-color: antiquewhite;
    letter-spacing: 3px;
}

.header-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;   
    padding: 10px 50px 10px 50px;
}

#logo-container, #menu-button, #about-button, #contact-button {
    cursor: pointer;
}

#logo-container {
    display: flex;
    justify-content: center;
    width: 250px;
    height: 75px;
}

#logo-img {
    margin: auto;
    width: 100%;
    height: auto;
}

ul {
    display: inline;
    list-style-type: none;
    font-size: 1.2rem;
    text-transform: uppercase;

}

li {
    display: inline;
    padding: 0 20px 0 20px;
}

#hero-img {
    object-fit: cover;
    height: 650px;
    width: 100%;
    object-position: bottom;
}

#contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 20px 50px 20px 50px;
}

#directions {
    color: white;
    text-decoration: none;
}


#menu-header {
    max-height: 500px;
    overflow: hidden;
    position: relative;
    text-align: center;
    color: white;
}

#about-us-header {
    max-height: 500px;
    overflow: hidden;
    position: relative;
    text-align: center;
    color: white;
    min-height: 430px;
    min-width: 967px;
}

.title-card {
    max-height: 500px;
    overflow: hidden;
    position: relative;
    text-align: center;
    color: white;
}

.title-card-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title-card-text-title {
    font-weight: bold;
    font-size: 5em;
}

.title-card-text-description {
    font-size: 1.5em;
}

.title-card-image {
    object-fit: cover;
    height: 510px;
    width: 100%;
    object-position: bottom;
}

#menu-body, #about-us-body {
    padding: 25px 225px 75px 225px;
}

.about-us-body-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 30px 0;
}

/* .about-us-body-image {
    height: auto;
    width: 50%;
}

#about-us-body-left-image {
    padding-right: 50px;
}

#about-us-body-right-image {
    padding-left: 50px;
} */

.dish-col-container {
    display: flex;
    flex-direction: row;
}

.dish-left-col, .dish-right-col {
    width: 50%;
    min-width: 200px;
}

.dish-left-col {
    padding-right: 15px;
}

.dish-right-col {
    padding-left: 15px;
}

.dish-name-price-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dish-type-container {
    padding-top: 25px;
}

.dish-description {
    opacity: 50%;
}

